:root {
  --font-color: #242424;
  --bg-color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

[data-theme='dark'] {
  --font-color: #ffffff;
  --bg-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #36baa2;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 40%;
}

.rocket {
  margin-top: 105px;
}
