name: PR CI build

on:
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true
      NODE_OPTIONS: --max-old-space-size=4096

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # Beginning of yarn setup
      - name: use node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org/ # Needed for auth
      - name: cache all node_modules
        id: cache-modules
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node_modules-${{ hashFiles('yarn.lock', '**/package.json') }}
      - name: find location of global yarn cache
        id: yarn-cache
        if: steps.cache-modules.outputs.cache-hit != 'true'
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
      - name: cache global yarn cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        if: steps.cache-modules.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: yarn install
        run: yarn install --immutable
      # End of yarn setup

      - name: knip
        run: yarn knip

      - name: lint
        run: yarn backstage-cli repo lint

      - name: deprecations
        run: yarn backstage-cli repo list-deprecations

      - name: type checking and declarations
        run: yarn tsc:full

      - name: tests
        run: yarn backstage-cli repo test

      - name: config check
        run: |
          yarn backstage-cli config:check --lax --strict
          yarn backstage-cli config:check --lax --strict --config app-config.yaml --config app-config.heroku.yaml

      - name: docker build
        env:
          DOCKER_BUILDKIT: 1
        run: docker build -t example .
